API Integration стриминговый сервис/XML-схема GetContentListResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://www.w3.org/2003/05/soap-envelope/" soap:encodingStyle="http://www.w3.org/2003/05/soap-encoding">
  <xs:element name="GetContentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="contentList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="content">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="contentType" type="xs:string" />
                    <xs:element name="contentId" type="xs:integer" />
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="imageUrl" type="xs:string" />
                    <xs:element name="previewUrl" type="xs:string" />
                    <xs:element name="recordUrl" type="xs:string" />
                    <xs:element name="genre">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="genreValue"/ type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="recommended" type="xs:boolean" />
                    <xs:element name="exclusive" type="xs:boolean" />
                    <xs:element name="details">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="yearOfIssue" type="xs:string" />
                          <xs:element name="duration" type="xs:string” />
                          <xs:element name=”country”>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="countryValue" type="xs:string" maxOccurs="5" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ageRate" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="team">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cast">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="castValue" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="dubbingTeam" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="rating" type="xs:decimal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
